/* Blog.css */
.blog {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .blog-title {
    font-size: 24px;
    color: #333;
    /* text-align: center; */
  }
  
  .blog-description {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
  }
  